#docusign_connect_appxtender_configuration_wrapper .fieldset-wrapper {
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

#docusign_connect_appxtender_configuration_wrapper .fieldset-wrapper div {
  flex-grow: 1;
}

#docusign_connect_appxtender_configuration_wrapper .fieldset-wrapper div#docusign_connect_appxtender_markup {
  text-align: center;
}

#docusign_connect_appxtender_configuration_wrapper .fieldset-wrapper .docusign_connect_docusign_mapping_field .fieldset-wrapper {
  display: block;
}
